<%- include('templates/header'); %>
<%- include('templates/productos'); %>
<DIv id="tablaProductos" >
   
</DIv>
<br>
<div id="'chat">
    <%-include('templates/chat'); %>
</div>
<%- include('templates/footer'); %>